.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.signs {
    height: 20px;
}

.imageExpandedStyle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid white;
}